@model List<ResultAllBlogsWithAuthorDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayaout/Index.cshtml";
	int count = 0;
}
<style>
	.full-width-button {
	display: block;
	width: 100%;
	padding: 20px 0;
	background-color: #28a745; /* Yeşil renk */
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	}

	.full-width-button:hover {
	background-color: #218838; /* Hover durumunda daha koyu yeşil */
	}
</style>
<div class="page-content">
	<div class="container-fluid">
		<div class="col-xl-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Blog Listesi</h4>
					<p class="card-subtitle mb-4">
						<code class="highlighter-rouge">
							Sitenizde Bulunan Bloglarınızı Aşağıda ki Tablodan Yönetebilirsiniz.
						</code>.
					</p>
					<div class="table-responsive">
						<table class="table table-dark mb-0">
							<thead>
								<tr>
									<th>#</th>
									<th>Başlık</th>
									<th>Yazar Adı</th>
									<th>Kategori</th>
									<th>Tarih</th>
									<th>Kaldır</th>
									<th>Blogu Aç</th>
									<th>Yorumlar</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<td>@count</td>
										<td>@item.Title</td>
										<td>@item.AuthorName</td>
										<td>@item.CategoryID</td>
										<td>@item.CreatedDate</td>
										<td><a href="/Admin/AdminBlog/DeleteBlog/@item.BlogID" class="btn btn-outline-danger">Kaldır</a></td>
										<td><a href="/Blog/BlogDetail/@item.BlogID" class="btn btn-outline-info">Blogu Aç</a></td>
										<td><a href="/Admin/AdminComment/Index/@item.BlogID" class="btn btn-outline-success">Yorumlar</a></td>
									</tr>
								}
							</tbody>
						</table>
						<br />
						<div class="container-fluid p-0">
							<a href="/Admin/AdminBlog/CreateBlog" class="btn btn-success d-block w-100 py-3 fs-4 fw-bold">YENİ BLOG EKLE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

